<div class="bg-white shadow-md rounded-xl overflow-hidden hover:shadow-lg transition">
    <div class="p-5">
        <h3 class="text-xl font-bold text-gray-800 group-hover:text-indigo-700 transition">
            {{quiz.title}}
        </h3>
        <p class="text-sm text-gray-600 mt-2 mb-4">
            {{quiz.description}}
        </p>
        <div class="flex justify-between items-center">
            <span class="text-sm font-medium text-gray-500">
                {{quiz.questionCount}} questions
            </span>
            <form data-quiz-id="{{quiz.id}}" class="create-game-form" method="POST">
                <button type="submit" class="brand-primary text-white text-sm px-3 py-1 rounded-full hover:bg-indigo-700 transition hover:cursor-pointer">
                    Create a Game
                </button>
            </form>
        </div>
    </div>
</div> 